:root {
  --globalFontSize: 20px;
  --darkcolor:#0C134F;
  --navycolor: #1D267D;
  --purplecolor:rgb(92, 70, 156);
  --lightpurplecolor: rgb(212, 173, 252);
  --pinkcolor: rgb(244, 100, 196);
}
html {
  scroll-behavior: smooth;
  background-color: var(--lightpurplecolor);
}
@media only screen and (max-width: 700px) {
  #saleproducts {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  #saleproducts {
    width: 100%;
  }
}
h2 {
  font-family: "Audiowide", sans-serif;
  position: relative;
  padding-left: 50px;
  color: var(--pinkcolor)
}
body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: var(--darkcolor);
  color:var(--pinkcolor);
  padding: 20px 50px;
  overflow: hidden;
  position: relative;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid rgb(194, 40, 156);
  cursor: pointer;
}
.navBottom {
  align-items: center;
  justify-content: center;
}  
nav #navBottom{
display: none;
}
#navBottom a{
 margin-right: 50px;
 cursor: pointer;
 color: rgb(165, 158, 158);
  font-weight: 400;
  float: left;
  color: rgb(221, 86, 192);
  padding: 14px 16px ;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
#navBottom a:hover {
  border-radius: 10px;
  background-color: var(--pinkcolor);
  color: rgb(10, 3, 66);
}
.active {
  background-color: rgb(68, 6, 214);
  color: rgb(41, 1, 1); 
}
i{
  cursor: pointer;
}
.socialmedea{
padding-left: 1250px;
padding-top: 20px;
cursor: pointer;
}
.fb {
padding: 15px;
width:30px;
}
.ig{
padding: 15px;
width: 30px;
height: 30px;
}
.twitter{
padding: 15px;  
width: 30px;
height: 30px;
}
#fbimg {
  width:30px;
  border-left: none;
}
#igimg {
  width: 30px;
  
}
#twitterimg {
  width:30px;
  
}
h2{
font-family: 'Sofia';font-size: 22px;
  text-align: center;
  padding-top: 50px;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #0e0d0d;
  font-weight: 900;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
